<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string>邮箱</string>
			<key>placeholder</key>
			<string>请输入邮箱</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string>微信号</string>
			<key>placeholder</key>
			<string>请输入微信号</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string>QQ号</string>
			<key>placeholder</key>
			<string>请输入QQ号</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>title</key>
			<string>住房情况</string>
			<key>placeholder</key>
			<string>请选择您的住房情况</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>title</key>
			<string>现居地址</string>
			<key>placeholder</key>
			<string>请选择省市地址</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string></string>
			<key>placeholder</key>
			<string>请输入详细地址</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>title</key>
			<string>婚姻状况</string>
			<key>placeholder</key>
			<string>请选择婚姻状况</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>title</key>
			<string>姓名</string>
			<key>placeholder</key>
			<string>请输入紧急联系人的姓名</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>title</key>
			<string>关系</string>
			<key>placeholder</key>
			<string>请选择与本人的关系</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
			<key>title</key>
			<string>手机号码</string>
			<key>placeholder</key>
			<string>请输入紧急联系人的手机号码</string>
		</dict>
	</array>
</array>
</plist>
