<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>邮箱</string>
			<key>placeholder</key>
			<string>请输入邮箱</string>
			<key>keyboard</key>
			<integer>7</integer>
			<key>servicename</key>
			<string>email</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>微信号</string>
			<key>placeholder</key>
			<string>请输入微信号(选填)</string>
			<key>servicename</key>
			<string>wechat</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>QQ号</string>
			<key>placeholder</key>
			<string>请输入QQ号(选填)</string>
			<key>keyboard</key>
			<integer>4</integer>
			<key>servicename</key>
			<string>qq</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>住房情况</string>
			<key>placeholder</key>
			<string>请选择您的住房情况</string>
			<key>servicename</key>
			<string>house_status</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>现居地址</string>
			<key>placeholder</key>
			<string>请选择省市地址</string>
			<key>servicename</key>
			<string>home_province</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string></string>
			<key>placeholder</key>
			<string>请输入详细地址</string>
			<key>servicename</key>
			<string>home_address</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>婚姻状况</string>
			<key>placeholder</key>
			<string>请选择婚姻状况</string>
			<key>servicename</key>
			<string>marriage_status</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>姓名</string>
			<key>placeholder</key>
			<string>请输入紧急联系人的姓名</string>
			<key>servicename</key>
			<string>contact_person</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>关系</string>
			<key>placeholder</key>
			<string>请选择与本人的关系</string>
			<key>servicename</key>
			<string>contact_person_relation</string>
		</dict>
		<dict>
			<key>rightImage</key>
			<string>apply_contact_icon</string>
			<key>type</key>
			<string>DSRightButtonCell</string>
			<key>title</key>
			<string>手机号码</string>
			<key>keyboard</key>
			<integer>4</integer>
			<key>textValidater</key>
			<integer>3</integer>
			<key>placeholder</key>
			<string>请输入紧急联系人的手机号码</string>
			<key>servicename</key>
			<string>contact_person_phone</string>
		</dict>
	</array>
</array>
</plist>
