<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>单位名称</string>
		<key>placeholder</key>
		<string>请输入单位名称</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>所在地</string>
		<key>placeholder</key>
		<string>请选择单位所在省市</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>单位地址</string>
		<key>placeholder</key>
		<string>请输入单位详细地址</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>入职日期</string>
		<key>placeholder</key>
		<string>请选择入职日期</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>职位名称</string>
		<key>placeholder</key>
		<string>请选择职位名称</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>单位电话</string>
		<key>placeholder</key>
		<string>请输入单位电话</string>
		<key>keyboard</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>月收入</string>
		<key>keyboard</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string>请输入月收入</string>
	</dict>
</array>
</plist>
