<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>学校</string>
		<key>placeholder</key>
		<string>请选择学校</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>学校地址</string>
		<key>placeholder</key>
		<string>请选择学校所在省市区</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string></string>
		<key>placeholder</key>
		<string>请输入学校详细地址，精确到门牌号</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>学校电话</string>
		<key>placeholder</key>
		<string>请输入学校电话</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>专业名称</string>
		<key>placeholder</key>
		<string>请输入专业名称</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>入学年份</string>
		<key>placeholder</key>
		<string>请选择入学年份</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>学制</string>
		<key>placeholder</key>
		<string>请输入学制</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>家庭月收入</string>
		<key>placeholder</key>
		<string>请输入家庭月收入</string>
	</dict>
</array>
</plist>
