<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>content</key>
			<string>重新识别</string>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>身份信息</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>请输入真实姓名</string>
			<key>title</key>
			<string>姓名</string>
			<key>type</key>
			<string>DSInputCell</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>请输入身份证号</string>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>身份证</string>
		</dict>
		<dict>
			<key>placeholder</key>
			<string>请输入民族</string>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>民族</string>
		</dict>
		<dict>
			<key>title</key>
			<string>签发机关</string>
			<key>placeholder</key>
			<string>请输入签发机关</string>
			<key>type</key>
			<string>DSInputCell</string>
		</dict>
		<dict>
			<key>title</key>
			<string>有限期限</string>
			<key>placeholder</key>
			<string>请选择身份证起始时间</string>
			<key>type</key>
			<string>DSSelectorCell</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>placeholder</key>
			<string>请选择身份证结束时间</string>
		</dict>
		<dict>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>地址</string>
			<key>placeholder</key>
			<string>请填写身份证地址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>身份证照</string>
			<key>type</key>
			<string>DSIdImageCell</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>人脸识别</string>
			<key>content</key>
			<string>待认证</string>
		</dict>
	</array>
</array>
</plist>
