<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeholder</key>
		<string>请输入您的姓名</string>
		<key>title</key>
		<string>姓名</string>
		<key>type</key>
		<string>DSInputCell</string>
	</dict>
	<dict>
		<key>type</key>
		<string>DSInputCell</string>
		<key>title</key>
		<string>手机号</string>
		<key>placeholder</key>
		<string>请输入您的手机号码</string>
		<key>keyboard</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>servicename</key>
		<string>loan_product</string>
		<key>type</key>
		<string>DSSelectorCell</string>
		<key>title</key>
		<string>课程</string>
		<key>placeholder</key>
		<string>请选择课程</string>
	</dict>
</array>
</plist>
