<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>servicename</key>
			<string>cid</string>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>培训课程</string>
			<key>placeholder</key>
			<string>请选择培训课程</string>
		</dict>
		<dict>
			<key>servicename</key>
			<string>borrow_money</string>
			<key>type</key>
			<string>DSInputCell</string>
			<key>title</key>
			<string>分期金额</string>
			<key>placeholder</key>
			<string>请输入分期金额</string>
			<key>keyboard</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>rightImage</key>
			<string>apply_info_icon</string>
			<key>servicename</key>
			<string>loan_product</string>
			<key>type</key>
			<string>DSSelectorRightButtonCell</string>
			<key>title</key>
			<string>分期产品</string>
			<key>placeholder</key>
			<string>请选择分期产品</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>servicename</key>
			<string>class_start_date</string>
			<key>type</key>
			<string>DSSelectorCell</string>
			<key>title</key>
			<string>开课日期</string>
			<key>placeholder</key>
			<string>请选择开课日期</string>
		</dict>
		<dict>
			<key>servicename</key>
			<string>scene_pic</string>
			<key>type</key>
			<string>DSMutableImageCell</string>
			<key>tipimage</key>
			<string>apply_loan_4</string>
			<key>title</key>
			<string>场景照片</string>
			<key>tips</key>
			<string>注:请在有学校LOGO的地方与顾问合影</string>
			<key>maxcount</key>
			<integer>9</integer>
			<key>placeholder</key>
			<string>请上传场景照片</string>
		</dict>
		<dict>
			<key>servicename</key>
			<string>train_contract_pic</string>
			<key>type</key>
			<string>DSMutableImageCell</string>
			<key>tipimage</key>
			<string>apply_loan_5</string>
			<key>title</key>
			<string>培训协议</string>
			<key>tips</key>
			<string>注：培训协议需要体现申请人、金额、签字等要素。上传图片文字清晰可辨认</string>
			<key>maxcount</key>
			<integer>9</integer>
			<key>placeholder</key>
			<string>请上传培训协议照片</string>
		</dict>
		<dict>
			<key>servicename</key>
			<string>person_pic</string>
			<key>type</key>
			<string>DSMutableImageCell</string>
			<key>tipimage</key>
			<string>apply_loan_6</string>
			<key>title</key>
			<string>手持身份证照片</string>
			<key>tips</key>
			<string>注:请本人手持身份证，证件内容清晰无遮挡</string>
			<key>placeholder</key>
			<string>请上手持身份证照片</string>
			<key>maxcount</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>tips</key>
			<string>注：请上传您对培训及还款义务认可的声明照片，签字清晰可辨认。</string>
			<key>tipimage</key>
			<string>apply_loan_7</string>
			<key>servicename</key>
			<string>train_statement_pic</string>
			<key>type</key>
			<string>DSMutableImageCell</string>
			<key>title</key>
			<string>声明照片</string>
			<key>placeholder</key>
			<string>请上传声明照片</string>
			<key>maxcount</key>
			<integer>9</integer>
		</dict>
	</array>
</array>
</plist>
