<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetMode</key>
	<string>Release</string>
	<key>navigationBarTitleColor</key>
	<string>ffffff</string>
	<key>navigationBarColor</key>
	<string>ea4934</string>
	<key>-------OCR-------</key>
	<string></string>
	<key>ocr_title</key>
	<string>身份证扫描</string>
	<key>ocr_manual_buttonTitleColor</key>
	<string>ea4934</string>
	<key>ocr_agreement_buttonTitleColor</key>
	<string>ea4934</string>
	<key>ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>-------OCR信息核验-------</key>
	<string></string>
	<key>ocr_result_title</key>
	<string>确认姓名</string>
	<key>ocr_result_titleColor</key>
	<string>ffffff</string>
	<key>ocr_result_startButtonBGColor</key>
	<string>ea4934</string>
	<key>ocr_result_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>ocr_result_changeButtonTitleColor</key>
	<string>ea4934</string>
	<key>ocr_result_nameColor</key>
	<string>383838</string>
	<key>ocr_result_explainColor</key>
	<string>999999</string>
	<key>-------活体检测-------</key>
	<string></string>
	<key>live_title</key>
	<string>刷脸</string>
	<key>live_checkbox_fillColor</key>
	<string>ea4934</string>
	<key>live_backgroundColor</key>
	<string>ffffff</string>
	<key>live_fillLineColor</key>
	<string>ea4934</string>
	<key>live_dashLineColor</key>
	<string>ea4934</string>
	<key>live_bubbleBGColor</key>
	<string>ea4934</string>
	<key>live_bubbleTitleColor</key>
	<string>ffffff</string>
	<key>-------简版-------</key>
	<string></string>
	<key>ocr_simple_nextButtonBGColor</key>
	<string>ea4934</string>
	<key>ocr_simple_nextButtonTitleColor</key>
	<string>ffffff</string>
	<key>ocr_simple_inputTitleBGColor</key>
	<string>ea4934</string>
	<key>ocr_simple_inputTitleTextColor</key>
	<string>ffffff</string>
	<key>ocr_simple_startButtonBGColor</key>
	<string>ea4934</string>
	<key>ocr_simple_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>-------视频存证-------</key>
	<string></string>
	<key>video_record_title</key>
	<string>视频存证</string>
	<key>video_play_title</key>
	<string>视频预览</string>
</dict>
</plist>
